/* CSS declarations go here */
body {
    background-color: #BF1E2E;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.h1-in {
    font-size: 60px;
    display: inline;
}

.h1-out {
    font-size: 80px;
}

.login-container {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: white;
}

.sign-in-text-facebook{
    position:relative;
}

.sign-in-text-facebook:before {
    font-family: FontAwesome;
    content: "\f26e"; /*<--- this is your text. You can also use UTF-8 character codes as I do here*/
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}


.btn:hover {
    color: white;
    background-color: #BF1E2E;
    border: 1px solid white;
}

.btn {
    font-size: 1em;
    color: #BF1E2E;
    background-color: white;
    border: 1px solid #BF1E2E;
    font-weight: bold;
}

.btn-login {
    font-size: 2em;
}

.icon-lg {
    font-size: 10em;
}

.icon-md {
    font-size: 4em;
}

.icon-sm {
    font-size: 1em;
}

.section-container {
    margin-bottom: 30px;
}

.container {
    background-color: #BF1E2E;
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    align-content: center;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 2em;
    border: none;
    position: relative;
    color: white;

}


li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    text-align: left;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

.quote {
    font-size: medium;
}

.quote-author {
    font-size: medium;
    font-style: italic;
}